.user{
 display: grid;
 grid-template-columns: 3fr 9fr;
 grid-gap: 10px;
}
.user img{
    width: 100%;
}
.posts{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.posts img{
    width: 80px;
    margin: 5px;
} 
.post{
 padding: 20px 0;
}
.post p{
    margin: 20px;
}
